@model Domain.HourlyRate

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <h4 class="title c-grey-900 mT-10 mB-30">Hourly Rate Details</h4>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HourRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HourRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Start)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.End)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.End)
        </dd>
    </dl>
</div>
<div class = "col-sm-3">
    <a class="btn btn-outline-success" role="button" asp-action="Index">Back to List</a>
    <a class="btn btn-info" role="button" style="float: right;" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
</div>
