@model BLL.App.DTO.Address

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <h4 class="title c-grey-900 mT-10 mB-30">@Resources.Views.Shared._Layout.Address @Resources.Views.Shared._Layout.Details</h4>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
    </dl>
</div>
<div class = "col-sm-3">
    <a class="btn btn-outline-success" role="button" asp-action="Index">@Resources.Views.Shared._Layout.BackToList</a>
    <a class="btn btn-info" role="button" style="float: right;" asp-action="Edit" asp-route-id="@Model.Id">@Resources.Views.Shared._Layout.Edit</a>
</div>
