@model BLL.App.DTO.Invoice

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <h4 class="title c-grey-900 mT-10 mB-30">Invoice Details</h4>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalWithVAT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalWithVAT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalWithoutVAT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalWithoutVAT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VAT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VAT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppUser.Id)
        </dd>
    </dl>
</div>
<div class = "col-sm-3">
    <a class="btn btn-outline-success" role="button" asp-action="Index">Back to List</a>
    <a class="btn btn-info" role="button" style="float: right;" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
</div>
